{% extends 'base/base.html' %}
{% block content %}
<div class="banner-wrapper pt-5">
    <div class="text-center">
         <h1 class="texnopark-txt"><span>YOSHLAR TEXNOPARKI </span>   “Eng yaxshi <br> brendlarga ovoz bering” tanlovi</h1>
    </div>
    <img class="img-fluid for-image" src="/static/images/Rectangle 166 (1).png" alt="image-to-put-image">
     <p class="txt-best">Eng yaxshi brendlarni aniqlash uchun YOSHLAR TEXNOPARKI Robocode hamkorligida <span class="best-vote"> “Eng yaxshi brendlarga ovoz bering” </span> tanlovini e’lon qildi.</p>

     <div class="item-fs">
        <h3>Tanlov tashkilotchilari:</h3>
        <ul class="list-ul-text">
            <li class="list-style-have"><a href="#"><span style="color: blueviolet; text-transform: uppercase;">YOSHLAR TEXNOPARKI</span> va <a href="https://robocode.uz" target="_blank"><span style="color: blueviolet; text-transform: uppercase;">Robocode</span></a> IT academy</a></li>
        </ul>
     </div>

     <div class="item-fs">
        <h3>Tanlov maqsadi:</h3>
        <ul class="list-ul-text">
            <li class="list-style-have"><a href="#">Rhoncus enim eu adipiscing tortor quis fringilla. Nulla scelerisque imperdiet at integer mattis pharetra, dictumst. Bibendum volutpat mus risus ipsum. Vel viverra turpis ullamcorper tristique adipiscing. A pharetra tortor cursus commodo sit metus malesuada massa.</a></li>
        </ul>
     </div>


     <div class="item-fs">
        <h3>Tanlov kimlar uchun ?   </h3>
        <ul class="list-ul-text">
            <li class="list-style-have"><a href="#">Sit urna scelerisque est duis sed faucibus volutpat. Lacus, aliquam maecenas odio rutrum rutrum. Ipsum id nullam gravida semper. Et dictumst nisl risus faucibus consequat. Libero cras fames sit imperdiet nisl etiam porttitor risus vestibulum. Platea etiam cursus vitae suspendisse at nisl mauris quis. Diam, in nisi, vitae adipiscing morbi. Mi erat feugiat in arcu turpis habitant nibh mauris convallis. </a></li>
             <br>


     </ul>
     </div>


     <div class="item-fs">
        <h3>Tanlov g’oliblari:</h3>
        <ul class="list-ul-text">
            <li class="list-style-have"><a href="#">Rhoncus enim eu adipiscing tortor quis fringilla. Nulla scelerisque imperdiet at integer mattis pharetra, dictumst. Bibendum volutpat mus risus ipsum. Vel viverra turpis ullamcorper tristique adipiscing. A pharetra tortor cursus commodo sit metus malesuada massa.</a></li>
             <br>
             <li class="list-style-have"><a href="#">Rhoncus enim eu adipiscing tortor quis fringilla. Nulla scelerisque imperdiet at integer mattis pharetra, dictumst. </a></li>
            <br>
            <li class="list-style-have"><a href="#">Rhoncus enim eu adipiscing tortor quis fringilla. Nulla scelerisque imperdiet at integer mattis pharetra, dictumst. Bibendum volutpat mus risus ipsum.</a></li>
            <br>
            <li class="list-style-have"><a href="#">Rhoncus enim eu adipiscing tortor quis fringilla. Nulla scelerisque imperdiet at integer mattis pharetra, dictumst. Bibendum volutpat mus risus ipsum. Vel viverra turpis ullamcorper tristique adipiscing. A pharetra tortor cursus commodo sit metus malesuada massa.</a></li>


     </ul>
     </div>


     <div class="item-fs">
        <h3>Tanlovda ovoz berish qanday amalga oshiriladi ?</h3>
        <ul class="list-ul-text">
            <li class="list-style-have"><a href="#">Tanlov uchun maxsus tashkil etilgan platforma orqali nomzodlar ovoz berish yo‘li bn baholanadi :</a></li>
            </ul>
            <div class="log-in">
                <p> 1.  Ro’yxatdan o’tish;</p>
                <p> 2.  Nominatsiyani tanlash; </p>
                <p>3.  Mavjud nomzodga ovoz berish.</p>
            </div>

     </div>
     <div class="item-fs">
        <h3>Platformaning ishlash tizimi:</h3>
        <ul class="list-ul-text left-no imgable-li">
            <div class="d-flex align-items-start">
              <img class="true-img" src="/static/images/image 632.png" alt="true-image">
             <div>
              <li><a href="#">Rhoncus enim eu adipiscing tortor quis fringilla. Nulla scelerisque imperdiet at integer mattis pharetra, dictumst. Bibendum volutpat mus risus ipsum. Vel viverra turpis ullamcorper tristique adipiscing. A pharetra tortor cursus commodo sit metus malesuada massa.</a></li>
             </div>
            </div>
             <br>
             <div class="d-flex align-items-start">
              <img class="true-img" src="/static/images/image 632.png" alt="true-image">
             <div>
              <li><a href="#">Rhoncus enim eu adipiscing tortor quis fringilla. Nulla scelerisque imperdiet at integer mattis pharetra, dictumst. </a></li>
             </div>
            </div>
            <br>
            <div class="d-flex align-items-start">
              <img class="true-img" src="/static/images/image 632.png" alt="true-image">
             <div>
              <li><a href="#">Rhoncus enim eu adipiscing tortor quis fringilla. Nulla scelerisque imperdiet at integer mattis pharetra, dictumst. Bibendum volutpat mus risus ipsum.</a></li>
             </div>
            </div>
            <br>
            <div class="d-flex align-items-start">
              <img class="true-img" src="/static/images/image 632.png" alt="true-image">
             <div>
              <li><a href="#">Rhoncus enim eu adipiscing tortor quis fringilla. Nulla scelerisque imperdiet at integer mattis pharetra, dictumst. Bibendum volutpat mus risus ipsum. Vel viverra turpis ullamcorper tristique adipiscing. A pharetra tortor cursus commodo sit metus malesuada massa.</a></li>
             </div>
            </div>
     </ul>
     </div>



</div>
{% endblock %}